@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: roboto;
}
.gray {
    color: gray;
}

.indented {
    margin: 0 0 0 30px;
}

.word-block {
    background-color: rgb(224, 224, 224);
    padding: 1px 10px 1px 10px;
}